---
import { Toaster } from "@/components/ui/toaster";
import { Toaster as Sonner } from "@/components/ui/sonner";
import { TooltipProvider } from "@/components/ui/tooltip";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>DocPort.io - {title}</title>
  </head>
  <body>
    <TooltipProvider client:idle>
      <Toaster client:idle />
      <Sonner client:idle />
      <div class="min-h-screen bg-white">
        <slot />
      </div>
    </TooltipProvider>
  </body>
</html>
